.container {
	height: 900px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #2b1616;
}

table {
	margin: auto;
	height: 500px;
	width: 540px;
	background: white;
}

td {
	height: 32px;
	width: 64px;
	color: transparent;
}

.add_cell {
	border-right: 9px solid black;
}

.add_cell_2 {
	background-image: url('Layers/background/yellow.png');
}

.union_3 {
	background-image: url('Layers/background/yellow.png');
}

.union_4 {
	border-right: 9px solid black;
	border-bottom: 9px solid black;
}

.union_5 {
	border-right: 9px solid black;
	border-bottom: 9px solid black;
}

.union_6 {
	border-bottom: 9px solid black;
	background-image: url('Layers/background/yellow.png');
}

.union_7 {
	border-right: 9px solid black;
	
}

.union_8 {
	border-right: 9px solid black;
	background-image: url('Layers/background/red.png');
}

.union_9 {
	background-image: url('Layers/background/yellow.png');
}


.union_10 {
	border-right: 9px solid black;
	
}

.union_11 {
	border-right: 9px solid black;
	background-image: url('Layers/background/red.png');
}

.union_12 {
	background-image: url('Layers/background/yellow.png');
}

.union_13 {
	border-right: 9px solid black;
}

.union_14 {
	border-right: 9px solid black;
	background-image: url('Layers/background/red.png');
}

.union_15 {
	background-image: url('Layers/background/yellow.png');
}

.union_16 {
	border-right: 9px solid black;
	border-bottom: 9px solid black;
}

.union_17 {
	border-right: 9px solid black;
	background-image: url('Layers/background/red.png');
}

.union_18 {
	border-bottom: 9px solid black;
	background-image: url('Layers/background/yellow.png');
}

.union_19 {
	border-right: 9px solid black;
}

.union_20 {
	border-right: 9px solid black;
	background-image: url('Layers/background/red.png');
}

.union_21 {
	border-right: 9px solid black;
}

.union_23 {
	border-right: 9px solid black;
}

.union_24 {
	border-right: 9px solid black;
	background-image: url('Layers/background/red.png');
}

.union_25 {
	border-right: 9px solid black;
}

.union_27 {
	border-right: 9px solid black;
}

.union_28 {
	border-right: 9px solid black;
	background-image: url('Layers/background/red.png');
}

.union_29 {
	border-right: 9px solid black;
}

.union_31 {
	border-right: 9px solid black;
}

.union_32 {
	border-right: 9px solid black;
	border-bottom: 9px solid black;
	background-image: url('Layers/background/red.png');
}

.union_33 {
	border-right: 9px solid black;
	border-bottom: 9px solid black;
}

.union_34 {
	border-bottom: 9px solid black;
}

.union_35 {
	border-right: 9px solid black;
}

.union_36 {
	border-right: 9px solid black;
	background-image: url('Layers/background/small_black.png');
}

.union_37 {
	border-right: 9px solid black;
	background-image: url('Layers/background/small_black.png');
}

.union_38 {
	border-right: 9px solid black;
}

.union_41 {
	border-right: 9px solid black;
	border-bottom: 9px solid black;
}

.union_42 {
	border-right: 9px solid black;
	border-bottom: 9px solid black;
	background-image: url('Layers/background/small_black.png');
}

.union_43 {
	border-right: 9px solid black;
	border-bottom: 9px solid black;
	background-image: url('Layers/background/small_black.png');
}

.union_44 {
	border-right: 9px solid black;
	border-bottom: 9px solid black;
}

.union_45 {
	border-bottom: 9px solid black;
}

.union_46 {
	border-bottom: 9px solid black;
}

.union_47 {
	border-right: 9px solid black;
	background-image: url('Layers/background/small_yellow.png');
}

.union_48 {
	border-right: 9px solid black;
	background-image: url('Layers/background/small_black.png');
}

.union_49 {
	border-right: 9px solid black;
	background-image: url('Layers/background/small_black.png');
}

.union_50 {
	border-right: 9px solid black;
}

.union_51 {
	background-image: url('Layers/background/blue.png');
}

.union_53 {
	border-right: 9px solid black;
	background-image: url('Layers/background/small_yellow.png');
}

.union_54 {
	border-right: 9px solid black;
	border-bottom: 9px solid black;
	background-image: url('Layers/background/small_black.png');
}

.union_55 {
	border-right: 9px solid black;
	border-bottom: 9px solid black;
	background-image: url('Layers/background/small_black.png');
}

.union_56 {
	border-right: 9px solid black;
	border-bottom: 9px solid black;
}

.union_57 {
	background-image: url('Layers/background/blue.png');
}

.union_59 {
	border-right: 9px solid black;
	background-image: url('Layers/background/small_yellow.png');
}

.union_60 {
	border-right: 9px solid black;
}

.union_61 {
	border-right: 9px solid black;
	border-bottom: 9px solid black;
	background-image: url('Layers/background/black.png');
}

.union_62 {
	border-bottom: 9px solid black;
	background-image: url('Layers/background/blue.png');
}

.union_63 {
	border-right: 9px solid black;
	background-image: url('Layers/background/small_yellow.png');
}

.union_64 {
	border-right: 9px solid black;
}